<% include ../partials/header %>

<div class="row">
  <div class="col-lg-4 col-sm-4">
    <h2><%= user.firstName + " " + user.lastName%></h2>
    <div class="thumbnail">
        <img src="<%=user.avatar%>">
            <div class="caption">
                <a href="mailto:<%=user.email%>"><%=user.email%></a>
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Vero temporibus dignissimos officiis omnis voluptatem optio quibusdam, 
                corporis repellendus voluptatum impedit cumque ad deleniti fuga voluptate aperiam deserunt? 
                Laboriosam, fugiat minus!
                <div>
                    <a href="/users/<%= user.id%>/edit" class="btn btn-primary">Edit</a>                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-sm-8">
       <div class="row text-center" style="display: flex; flex-wrap: wrap;">
            <% campgrounds.forEach(function(campground){%>
                <div class="col-md-4 col-sm-6">
                    <div class="thumbnail">                    
                        <img src="<%= campground.image%>" alt="">
                        <div class="caption">
                            <h4><%= campground.name%></h4>                        
                        </div>
                        <p>
                            <a href="/campgrounds/<%= campground._id%>" class="btn btn-primary">Info</a>
                        </p>                
                    </div>
                </div>
            <% });%>
        </div>
    </div>
</div>

<% include ../partials/footer %>